@page "/"
@inherits ProductsBase

@if(Products == null){
	<h3>Loading products ...</h3>
}
else{
	<h3 class="md-5">Products</h3>

	var productCount = Products.Count();

	@if(productCount > 0){
		int itemsPerRow = 4;
		var productRowList = new List<ProductDto>();
		@for(int i = 0; i < productCount; i++){
			productRowList = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

			<div class="row mt-3">

				@foreach (var prodGroup in GetGroupedProductsByCategory())
				{
					 <h4>@prodGroup.FirstOrDefault(pg => pg.CategoryId == prodGroup.Key).CategoryName</h4>
					<div class="row mt-3">
						<DisplayProducts Products="@productRowList"/>
					</div>
					<hr class="mb-3"/>
				}
			</div>
		}

	}
}
